<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <%= link_to 'Movies', movies_path, class: "nav-link" %>
        <%= link_to 'Lists', lists_path, class: "nav-link active" %>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <div class="text-center">
    <h1>New bookmark for<br><%= @list.name %></h1>
  </div>
    <form action="/create" method="post" data-turbo="false">

      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :list_id, @list.id %>
      <%= hidden_field_tag :movie_id, '0' %>

      <label for="comment_text_area" class="form-label">Comment:</label>
      <input type="text" name="comment" id="comment_text_area" class="form-control bg-white">
      <div class="text-center">
        <input type="submit" class="btn btn-primary mt-3">
      </div>
    </form>

    <p class="mt-3">Select below the movie you would like to bookmark.</p>
    <div class="row" data-controller="movies_index" data-action="" data-selected="0">
      <% @movies.each do |movie| %>
        <div class="col-6 mb-3">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%= movie.poster_url %>" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body" style="overflow-y: auto; height: 269px">
                  <h5 class="card-title"><%= movie.title %></h5>
                  <p class="card-subtitle text-muted mb-2">Rating: <strong><%= movie.rating %></strong></p>
                  <p class="card-text"><%= movie.overview %></p>
                </div>
              </div>
            </div>
            <button data-movie="<%= movie.id %>" class="btn btn-secondary" data-controller="update-card" data-selected="false" data-action="click->update-card#update">Bookmark this title</button>
          </div>
        </div>
      <% end %>
    </div>
</div>

<script>
  // const form = document.querySelector('form')
  // console.dir(form)
  // console.dir(document.getElementById('selected_movie_id'))
</script>
